<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".frag" mimeType="text/shader" />
            <mimeMap fileExtension=".vert" mimeType="text/shader" />
        </staticContent>
    </system.webServer>
</configuration>