/* 
css file contains styles for your html elements
you can apply either by element type, class or id (for simplicity)

style priority
type -> class -> id (most important)

i cant list all things you can change, but you can inspect what I changed and apply that information

see examples below
*/

/* change element by type
body - whole page
a - links
button - buttons...
*/

body {
    background-color:lightcyan;
    font-size: 250%;
}

img {
    width: 200px;
    height: auto;
}

nav {
    font-size: 30px;
    background-color: lightcyan;
}

a {
    color: violet;
    background-color: none;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    color:blueviolet;
}

button {
    width: 100px;
    height: 80px;
    background-color: violet;
    color: white;
}

button:hover {
    background-color: blueviolet;
}

/* 
change by class name
note: to change using class name put dot before class name
*/

.welcome {
    font-style: italic;
}

.subtitle {
    font-style: italic;
    color: gray;
    font-size: 50%;
}

.blast {
    background: #FF218C;
    background: linear-gradient(90deg, rgba(255, 33, 140, 1) 0%, rgba(255, 216, 0, 1) 50%, rgba(33, 177, 255, 1) 100%);
}

.yuribg {
    background: #D52D00;
    background: linear-gradient(180deg, rgba(213, 45, 0, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(163, 2, 98, 1) 100%);
    min-height: 100vh;
}

.yaoibg {
    background: #078D70;
    background: linear-gradient(180deg, rgba(7, 141, 112, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(61, 26, 120, 1) 100%);
    min-height: 100vh;
}

/* 
change by id
note: to change using id put # before id
check first fish image in whenthe gallery
*/

#fish1 {
    width: 300px;
    border-color: red;
    border-width: 5px;
    border-style: solid;
}


