/* The following css creates the beautiful lesbian flag */

html,
body {
  margin: 5;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: sans-serif;
}

header {
  padding: 2vh 0;
  border-radius: 0.75vh;
  background: linear-gradient(
    90deg,
    #e40303,
    #ff8c00,
    #ffed00,
    #008026,
    #004cff,
    #732982,
    #e40303,
    #ff8c00,
    #ffed00,
    #008026,
    #004cff,
    #732982,
    #e40303
  );
  background-size: 200%, 100%;
  animation: moveGradient 5s linear infinite;
}

@keyframes moveGradient {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}

header a {
  color: white;
  mix-blend-mode: difference;
  margin: 1%;
  cursor: pointer;
}

/* Animated lesbian flag */
body {
  background: linear-gradient(
    180deg,
    #d52d00 0%,
    #ef7627 14.28%,
    #ff9a56 28.56%,
    #ffffff 42.84%,
    #d162a4 57.12%,
    #b55690 71.4%,
    #a30262 100%
  );

  background-size: 200% 200%;
  animation: prideWave 12s ease-in-out infinite;
  transition: transform 1s;
}

.barrelroll:active {
  transform: rotate(1turn);
  transition: none;
}

#barrelroll {
    background-color: #bb5994;
    border: groove;
    color: white;
    padding: 15px 32px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.dropdowner {
  padding: 2px;
  width: 50%;
  border: 4px solid #a30262;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-indent: 20px;
}

@keyframes prideWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.image-container img {
  width: 45%;
  height: auto;
}

#leon_be_like {
  background-color: #bb5994;
  border: groove;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 2px 2px;
}

@keyframes spin3d {
  0% {
    transform: perspective(600px) rotateY(0deg);
  }
  100% {
    transform: perspective(600px) rotateY(360deg);
  }
}
.kirky-img {
  position: relative;
  display: inline-block;
  width: 8rem;
  height: 8rem;
}

#kirky-container {
  height: 45rem;
  width: 45rem;
  padding: 2rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

nav ul a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: 'Playfair Display', Impact;
}


.rk-rpanel {
    position: fixed;
    top: 100px;
    right: 1px;
    width: 210px;
    background-color: #cccccc;
    border-radius: 8px;
    border: 2px solid #cccccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 232;
}

.movie-player {
  display: block;
  max-width: 100%;
  height: auto;
  background: #000;
}
